# ===========================
# Shopping Agent — Environment
# ===========================

# OpenAI API Key (https://platform.openai.com/api-keys)
OPENAI_API_KEY=your_api_key_here
# SerpAPI Key (https://serpapi.com/manage-api-key)
SERPAPI_KEY=your_api_key_here

# Tên model OpenAI muốn dùng
OPENAI_MODEL=gpt-4o-mini
